.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active-link {
  font-size: 20px;
}

/* --- General --- */
.container h1 {
  font-size: 2.6rem;
}

.container h2 {
  font-size: 2rem;
}

.container li {
list-style-type: none;
}

.container button {
  background-color: #604DE8;
  border: 0.1rem solid #604DE8;
}

.nav-links {
  color: #604DE8;
}

.button-link {
  color: white;
}




/* --- Navbar --- */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 11px;
  margin-top: 11px;
  position: absolute;
  height: 100vh;
  left: 0px;

}


/* --- Home Page --- */
.categories {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.category {
  border: solid black 0.1px;
  width: 124px;
  height: 100px;
  padding-top: 35px;
  text-align: center;

}

/* --- Profile --- */


/* --- Category --- */
.links-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.category-link{
  color: black;
  font-size: 20px;
}

/* --- Collections --- */

.collections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* --- Collection --- */


/* --- Formula ---  */
.formula {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.form-addcollection {
  margin-bottom: 15px;
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  align-content: center;
}


/* --- Navbar --- */
.username {
  margin-top: 20px;
}


.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 313px;
  top: -7px;
}

.bm-burger-bars {
  background: #373a47;
  height: 14%;
}



.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0px;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;

}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}


.bm-item.nav-links:focus {
  outline: none;
  outline-color: none;
  color: white;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0px;
}